<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.safvic.utilities.TestNG_Listeners"/>
	</listeners>
	
	<test thread-count="5" name="Officer Side Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.safvic.testCases.TC_LoginTest_001" />
			<class name="com.safvic.testCases.TC_CreateIncidentTest_002"/>
			<class name="com.safvic.testCases.TC_UpdateIncidentTest_003"/>
			<class name="com.safvic.testCases.TC_CreateVictimTest_004"/>
			<class name="com.safvic.testCases.TC_CreateSuspectTest_005"/>
			<class name="com.safvic.testCases.TC_AddLocationTest_006"/>
			<class name="com.safvic.testCases.TC_AddOffenseGroupTest_007"/>
			<class name="com.safvic.testCases.TC_CreateRiskAssessmentTest_008"/>
			<class name="com.safvic.testCases.TC_AddVehicleTest_009"/>
			<class name="com.safvic.testCases.TC_CreateEPORequestTest_010"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite --> 
