<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.safvic.utilities.TestNG_Listeners"/>
		<!--<listener class-name="com.safvic.listeners.TestJiraListener"/>-->
	</listeners>
	
	<test thread-count="5" name="Officer Side Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.safvic.testCases.TC_LoginTest_001"/>
			<class name="com.safvic.testCases.TC_QuickBookTest_011"/> 	
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite --> 
